# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# PyTorch / Model files
# =========================
*.pth
*.pt
checkpoints/

# =========================
# Dataset (DO NOT UPLOAD)
# =========================
data/
datasets/

# =========================
# Audio files (large files)
# =========================
*.wav
*.flac
*.mp3

# =========================
# Logs / Outputs
# =========================
logs/
runs/
outputs/

# =========================
# OS files
# =========================
.DS_Store

# =========================
# IDE files
# =========================
.idea/
.vscode/